{% block ConfirmDownUpdStreet %}
    <div id="updfooter">
        <div class="center_div">
            <div id="hidf" style="float: right;">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#confirmSaveSgModal">Зберегти</button>
            </div>
            <button type="button" class="btn btn-danger" id="updclose">Скасувати</button>
        </div>
    </div>
{% endblock ConfirmDownUpdStreet %}