{% block removeSgPolygon %}
    <div id="remsgfooter">
        <div class="center_div">
            <div id="hidf" style="float: right;">
                <button type="button" class="btn btn-success" id="rmsgplotclose">Скасувати</button>
            </div>            
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmRmSgModal">Видалити</button>
        </div>
    </div>
{% endblock removeSgPolygon%}